@model ROSV2P.Models.Declaration
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Layout.cshtml";
}
@section head{
    <script src="~/Scripts/accessCheck.js"></script>     
}
<body>
    <div id="login">
        <div class="container center_div">
            <div class="loginPanel">

            </div>
        </div>        
    </div>        
</body>






